/*user agent reboot*/
*, *:before, *:after{-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html,body{width:100%; height:100%; padding:0; margin:0;}
table{border-spacing: 1px;}

/* fonting */
*{font-family: FontAwesome, Arial, Helvetica, sans-serif;}
a{color:#751515;}

/*flex header&footer structure*/
.viewport{
    width:100%;height:100%;
    display:flex;flex-direction:column;
    justify-content:flex-start;align-items:stretch;align-content:stretch;
}
.header, .footer{
    padding: 12px; height: 50px;
    background-color: dimgray; color: #ffffff;
    font-weight: 600; line-height: 190% !important;
}
.main{
    display:flex; background-color: #dcdcdc;
    border-top: 1px solid #751515; border-bottom: 1px solid #751515;
    flex-direction:row; flex:1;
    justify-content:flex-start;
    align-items:stretch; align-content:stretch;
}
.content{
    min-height:100%; height: max-content;
    width:100%; min-width: 500px;
    background-color: #efefef;
    display:inline-block; 
    padding: 10px 5%; margin: 0 0;
}
.content h1, .content h2{padding-left: 30px;}
div{display: inline-block;}
.right{display: inline-block; float:right;}
div.container:first-child{padding: 2rem 1rem;}
div.container h1:first-child, div.container h2:first-child{padding-bottom: 1rem;}

/* header customs */
.header a {text-decoration:none;color: #efefef;}
.header .dropdown-menu, .show a.dropdown-item{color:#212529;}
.header_menu tr td{min-width: 60px; padding: 0 10px;}
.header_menu tr td:not(:first-child){border-left: 2px solid}

/* select customs */
select.rs{appearance: none; -webkit-appearance: none; -moz-appearance: none;}
select.rs, button.rs, input.rs{width:100%;}
select.rs, button.rs, input.rs, input[type="submit"].rs_btn{
  height:40px; font-size: 100%; font-weight: 600;
  background-color: #dcdcdc; color : #2e2e2e;
  border: none; border-bottom: 2px solid #751515;
  padding: 10px; text-align: center; text-align-last: center;
}
select.rs, button.rs, input.rs_btn {cursor: pointer;}
input.rs{border-bottom: 2px solid dimgray;}
option.rs{
    height: 30px;cursor: pointer; padding: 10px;
    background-color: #dcdcdc; color : #2e2e2e;
    border: none; border-bottom: 2px solid #751515;
}
select.rs:hover, select.rs:focus{background-color: dimgray; color: #efefef;}

/* card div */
.divcard{
    border-radius: 5px; padding: 5px 10px; margin: 5px 0.4%;
    background-color: white; line-height:1.15;
}
.divcard.shops{width:100%; background-color: dimgray; text-align:center;}
.divcard.shop{width: calc(49% - 0.1%); padding: 9px 10px 5px 10px;}
.divcard.shops a{color: #212529;}

.shop .img{float: left;}
.shop img{margin-right: 15px; height: 100px; width: 200px;}
.shop .details{font-size: 1.4rem; font-weight: 600; margin-top: 15px; width: calc(95% - 200px);}

/* =====================media rules===================== */

@media only screen and (min-width: 1361px){
    .content{width:1361px; margin: 0 auto;}
}
@media only screen and (max-width: 999px){
    .divcard{margin:5px 0;}
    .divcard.shop{width:100%; }
}
@media only screen and (max-width: 575px){
    .content{padding: 25px 2.5%;}
    .divcard{width:95%;}
}
/* ================compatibility fixes================== */
/* ===header menu=== */
div.header .nav-link{padding: 0 1rem;}
div.header .dropdown-item{font-weight:600;padding: 0 1.5rem;}
/* ===div display=== */
div.tab-content{display:block;}
div.form-group{display:block;}
div#accordion, div.card-body{display:block;}
div.block{display:block;}
/* ===modal=== */
.modal-content .modal-body{padding: 0 1rem 1rem 1rem;}
.modal-body label {margin:.5rem;}
/* ===search bar=== */
.input-group {padding:1.1rem 0 0.4rem 0;}
.input-group, .input-group-prepend,.input-group-prepend form, .input-group-prepend table{width:100%;}

/* ===extra coloring=== */
a.dropdown-item:active{background-color:#dcdcdc;color:#212529;}
a:hover{color:#212529;}
.nav-pills a.nav-link.active{background-color:#751515;font-weight: 600;}
.nav-tabs .nav-link.active{font-weight: 600;}
button.btn-primary, input.btn-primary{background-color:#751515;border-color:#751515;}
button.btn-primary:hover, button.btn-primary:not(:disabled):not(.disabled):active, button.btn-primary:focus{background-color:dimgray;border-color:#1e1e1e;}
input.btn-primary:hover, input.btn-primary:not(:disabled):not(.disabled):active, input.btn-primary:focus{background-color:dimgray;border-color:#1e1e1e;}

/* ========================miscs======================== */
/* =============This is for me to do coloring=========== */

/* colorthemer */
.colorthemer{
    padding-top:2px;
}
.colorthemer table{
    border:2px solid white;
}
.colorthemer table tr td{
    width: 14px;
    height: 14px;
}
.colorthemer table tr #c1{background-color: #efefef;}
.colorthemer table tr #c2{background-color: #dcdcdc;}
.colorthemer table tr #c3{background-color: #1e1e1e;}
.colorthemer table tr #c4{background-color: dimgray;}
.colorthemer table tr #c5{background-color: #751515;}